:root{
    --background-highlight: #1e2021;
    --highlight: #2eaed1;
}


* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    background-color: #393d40;
}

/* Header classes */

header {
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Linear gradient background */
    background-image: linear-gradient(rgba(30, 32, 33, 1) 0%, rgba(30, 32, 33, 0.6) 100%);
    color: white;
    border-radius: 10px;
    width: 95%;
    margin: auto;
}

header h1 {
    /* background-color: var(--background-highlight); */
    color: var(--highlight);
    font-size: 350%;;
    text-align: center;
}

/* Main classes */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3%;
    margin-top: 5%;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 32%;
    color: var(--highlight);
    padding: 20px;
    border: 2px dashed white;
    border-radius: 5px;
    margin-bottom: 40px;
    /* Linear gradient background */
    background-image: linear-gradient(rgba(30, 32, 33, 1) 0%, rgba(30, 32, 33, 0.4) 100%);
}

section h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 200%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--background-highlight);
    margin: -40px;
    width: 90%;
}

.card {
    margin-top: 35px;
    width: 100%;
}

.code-snippet {
    background-color: var(--highlight);
    /* Linear gradient background */
    /* background-image: linear-gradient(rgba(51, 193, 232, 0.7)0%, rgba(51, 193, 232, 1) 100%, rgba(51, 193, 232, 0.9) 100%); */
    color: white;
    padding: 15px;
    border-radius: 10px;
}

/* Footer classes */

footer {
    color: var(--highlight);
    display: flex;
    justify-content: center;
    font-size: 175%;
}


/* -------------------------------------- */

@media screen and (max-width: 992px){
    section{
        width: 48%;
    }
}

@media screen and (max-width: 768px){
    section{
        width: 98%;
        
    }
}